body {
    background-color: #334854;
    font-size: 18px;
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #F9C535;
    padding: 20px;
    color: #E04462;
    border-bottom: 20px solid #E04462;
    font-weight: bold;
    height: 20px;
    overflow: hidden;
    transition: all 600ms ease-in-out;
}

header:hover {
    height: 120px;
}

header > p:first-of-type {
    margin: 0 0 30px 0;
}


nav {
    padding: 20px;
    text-align: center;
}

main {
    width: 100%;
}

button, input {
    color: #EFECEA;
    border: 2px solid #EFECEA;
    background-color: rgba(0,0,0,0.2);
    padding: 10px;
    font-size: 1.2rem;
    box-shadow: 0 2px 10px #20194A;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border-radius: 0;
}

button:hover {
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    color: #20194A;
}

button:active {
    transform: rotate3d(2,1,0,30deg);
    background-color: rgba(255,255,255,0.5);
}

button:focus {
    outline: none;
}

button.close {
    position: absolute;
    margin: 0;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-left: 61px;
    margin-top: -6px;
    font-size: 12px;
}

button.close:hover {
    background-color: #990000;
    color: ghostwhite;
}

#images-alert {
    text-align: center;
    background: #E04462;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #20194A;
}

#images {
    text-align: center;
}

#image-input {
    display: none;
}

#images-list div.thumbnail {
    display: inline-block;
    border: 2px solid #EFECEA;
    width: 82px;
    height: 90px;
    padding: 8px;
    margin-right: 10px;
    background-color: rgba(0,0,0,0.2);
    font-size: 1.2rem;
    box-shadow: 0 2px 10px #20194A;
    transition: all 500ms ease-in-out;
    cursor: pointer;
    border-radius: 0;
    color: #EFECEA;
}

#images-list div.thumbnail:hover {
    background-color: rgba(255,255,255,1);
    border-radius: 10px;
    color: #20194A;
}

#images-list p {
    margin: 0;
    padding: 0;
}


.display {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #EFECEA;
}

#panel, input {
    text-align: center;
    color: #F9C535;
    margin: 10px;
    text-shadow: 0 2px 10px #20194A;
    font-size: 1.4rem;
}

#fps {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    color: whitesmoke;
}

#state, #sprites {
    display: inline-block;
    width: 120px;
    line-height: 30px;
    color: whitesmoke;
}

#sprites-n {
    width: 120px;
    color: whitesmoke;
    margin: 0;
    padding-top: 7px;
    padding-bottom: 8px;
    background: rgba(0,0,0,0.5);
}

